// Colors
$colorWhite: #ffffff;
$colorWhite-e0: #f6e9e0;
$colorWhite-e7:#e7e7e7;
$colorWhite-eb: #ebebeb;
$colorWhite-c: #cccccc;
$colorWhite-e: #eeeeee;
$colorWhite-e5: #e5e5e5;
$colorWhite-b63: #fbf6f3;
$colorWhite-e9: #e9e9e9;
$colorWhite-fb: #fbfbfb;
$colorWhite-ed: #ededed;
$colorWhite-dfd: #dfdbdb;
$colorWhite-d6: #d6d5d6;
$colorWhite-e4: #e5e4e4;
$colorWhite-f6: #f6f6f6;
$colorWhite-e2: #e2d9d3;

$colorWhite-2: rgba(255, 255, 255, 0.2);
$colorWhite-7: rgba(255, 255, 255, 0.7);
$colorWhite-8:rgba(255, 255, 255, 0.8);


$colorBlack: #000000;
$colorBlack-1: #212428;
$colorBlack-2: rgba(33, 36, 40, 0.8);
$colorBlack-3: rgba(4, 6, 11, 0.3);
$colorBlack-33: #333333;
$colorBlack-4: rgba(12, 13, 15, 0.6);
$colorBlack-5: rgba(0, 0, 0, 0.5);
$colorBlack-6: rgba(12, 13, 15, 0.4);
$colorBlack-7: rgba(0, 0, 0, 0.08);
$colorBlack-8: #0c0d0f;

$colorGrey1: #898381;
$colorGrey2: #6b6461;
$colorGrey3: #908b89;
$colorGrey4: #8c9299;
$colorGrey5: #4d5155;
$colorGrey6: #c4c1c0;
$colorGrey7: #6d6664;
$colorGrey8: #534843;
$colorGrey9: #8c7f74;
$colorGrey10: #786b63;
$colorGrey11: #a2a2a2;
$colorGrey12: #484a4f;
$colorGrey13: rgba(255, 255, 255, 0.6);
$colorGrey14: #6c757d;
$colorGrey15: #aaaaaa;

$colorRed: #fd2322;
$colorRed1: #ff0000;
$colorRed2: #fd2323;
$colorRed3: #f25152;

$colorYellow: #fcd240;
$colorYellow2: #dacc88;
$colorYellow3: #fce7d2;
$colorYellow4: #f2ae0d;
$colorYellow5: #aea19b;

$colorOrange1: #bf6910;
$colorOrange2: #f68816;
$colorOrange3: #ff8532;
$colorOrange4: #f58026;

$colorGreen: #67b067;
$colorGreen1: #26a69a;
$colorGreen2: #46ab73;
$colorGreen3: #8dd241;

$colorPurple: #4e519b;
$colorPurple1: #800080;
$colorPurple2: #ab47bc;

$colorPink: #f884a4;
$colorBlue: #319ffe;
$colorBlue1: #4c66bd;

// Font
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

$NotoSansCJKkr: "Noto Sans KR";
$nanumsquare: "NanumSquare";