header {
	background: red;
	padding: 20px;
	text-align: center;
}

.main-content {
	background: green;
	padding: 100px 20px;
	text-align: center;
}

footer {
	background: yellow;
	padding: 20px;
	text-align: center;
}