<!-- Begin Footer -->
<footer>
	Footer
</footer>
<!-- End Footer -->

</div><!-- End page-body -->
<script type="text/javascript" src="lib/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="lib/jquery-ui/ui/jquery-ui.js"></script>
<script type="text/javascript" src="lib/pc-bootstrap4-datetimepicker/js/moment-with-locales.js"></script>
<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/moment/moment.js"></script>
<script type="text/javascript" src="lib/moment/locale/ko.js"></script>
<script type="text/javascript" src="lib/pc-bootstrap4-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="lib/fancyapps/js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="lib/jquery.mCustomScrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="lib/datatables/js/jquery.dataTables.min.js"></script>

@@libJS

<script type="text/javascript" src="js/main.js"></script>

</body>

</html>